<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый пользователь</title></head>
<body>
<form th:method="POST" th:action="@{/admin/create}" th:object="${user}">
    <label for="username">Введите имя: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <br>
    <label for="password">Введите пароль: </label>
    <input type="password" th:field="*{password}" id="password"/>
    <br>
    <label for="email">Введите Email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br>
    <label for="yearOfBirth">Введите год вашего рождения: </label>
    <input type="text" th:field="*{yearOfBirth}" id="yearOfBirth"/>
    <br>
    <label for="nameRole">Roles</label>
    <select multiple name="nameRole" id="nameRole">
        <option>ROLE_USER</option>
        <option>ROLE_ADMIN</option>
    </select>
    <br/>

    <input type="submit" value="Создать"/>
</form>
</body>
</html>




