<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список пользователей</title>
</head>
<body>
<table>

    <tr>
        <th scope="col">ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Age</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
    </tr>

    <tr
            th:each="user : ${users}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getFirstName()}"></td>
        <td th:text="${user.getLastName()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td th:each="role : ${user.getRoles()}"
            th:text="${role.getName().replace('ROLE_', '') + ' '}"></td>
        <td>
            <form th:method="GET" th:action="@{/admin/edit/{id}(id=${user.id})}">
                <input type="submit" value="Редактировать"/>
            </form>
        </td>

        <td>
            <form th:method="DELETE" th:action="@{/admin/delete/{id} (id=${user.id})}">
                <input type="hidden" name="_method" value="DELETE"/>
                <input type="submit" value="Удалить"/>
            </form>
        </td>

    </tr>


    <tr>

        <td>
            <form th:method="GET" th:action="@{/admin/add}">
                <input type="submit" value="Создать нового пользователя"/>
            </form>
        </td>


        <td>
            <form th:method="POST" th:action="@{/logout}">
                <input type="submit" value="Выйти из системы"/>
            </form>
        </td>
    </tr>

</table>
</body>
</html>
